.layout_topbar {
  margin-top: 48px;
  margin-bottom: 32px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.topbar_coins {
  display: flex;
  gap: 8px;
  align-items: center;
  padding: 6px 16px;
  background-color: #FFF;
  border-radius: 999px;
  font-size: 20px;
  font-weight: 600;
}
