@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Popins";
  src: url("/fonts/Poppins/Poppins-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Popins";
  src: url("/fonts/Poppins/Poppins-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: "Popins";
  src: url("/fonts/Poppins/Poppins-SemiBold.ttf");
  font-weight: 600;
}

@font-face {
  font-family: "Popins";
  src: url("/fonts/Poppins/Poppins-Bold.ttf");
  font-weight: 700;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  background-color: #f7f5ff;
}

body {
  font-family: "Popins";
}
