@import "../../../styles/shared/variables.scss";

$button-paddig-top-bottom: 12px;
$button-paddig-right-left: 24px;
$white: white;

$button-border-size: 1px;
$button-border-radius: 100px;

$button-font-size: 18px;
$button-font-weight: 500;

.button {
  font-weight: $button-font-weight;
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: $button-border-radius;
  cursor: pointer;
}

.small_btn {
  padding: 11px 24px;
  font-size: 16px;
}
.large_btn {
  font-size: 18px;
  padding: 15px 48px;
}
.black_button {
  background: #403b31;
  color: $white;
  border: 1px solid #403b31;
}

.white_button {
  background: #fff;
  color: var(--main, #7a40f2);
  border: 1px solid var(--main, #7a40f2);
  &:hover {
    background: #998d74;
    color: white;
    border: 1px solid #998d74;
  }
}
.opacity_button {
  background: #fff;
  color: #80745b;
  border: 1px solid #80745b;
  &:hover {
    background: rgba(108, 100, 84, 0.05);
    border: 1px solid #80745b;
  }
}
.brown_button {
  color: #fff;
  background: #80745b;
  border: 1px solid #80745b;
  &:hover {
    background: #998d74;
  }
  &:active {
    background: #403b31;
  }
}
.main_button {
  color: #fff;
  border-radius: 100px;
  background: var(--main, #7a40f2);
  &:hover {
    background: #998d74;
  }
  &:active {
    background: #403b31;
  }
}

.destructive_buttom {
  color: white;
  font-weight: 500;
  background: #ff3b30;
  border: 1px solid #ff3b30;
  border-radius: 999px;
  &:hover {
    border: 1px solid #950700;
  
  }
}
.light_button {
  color: #7a40f2;
  font-weight: 500;
  background: transparent;
  border: 1px solid #7a40f2;
  border-radius: 999px;
  &:hover {
    background-color: rgba(122, 64, 242, 0.18);
  }
}

.outline_white_button {
  color: #fff;
  font-weight: 500;
  background: transparent;
  border: 1px solid #fff;
  border-radius: 999px;
  &:hover {
    background-color: rgba(#fff, 0.18);
  }
}

.main_white_button {
  color: #7a40f2;
  font-weight: 500;
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 999px;
  &:hover {
    background-color: rgba(#fff, 0.82);
  }
}
